---
import Base from './Base.astro';
const { frontmatter } = Astro.props
const posts = await Astro.glob('../pages/blog/*.md');
---

<Base {frontmatter}>
    <article class="container mx-auto flex gap-12">
        <div class="flex-1">
            <h1>{frontmatter.title}</h1>
            {
                posts.filter(i => i.url !== '/blog').map(post =>  (
                    <a href={post.url} class="block card white">
                        <h3>{post.frontmatter.title}</h3>
                        <p class="text-gray-300">{post.rawContent().split('<!-- more -->')[0].trim()}</p>
                        <div class="flex gap-12 mt-4">
                            <p class="text-gray-300"><i class="fas fa-user text-white" /> {post.frontmatter.author}</p>
                            <p class="text-gray-300"><i class="fas fa-calendar text-white" /> {post.frontmatter.date}</p>
                            <p class="text-gray-300"><i class="fas fa-layer-group text-white" />{post.frontmatter.category.join(', ')}</p>
                            <p class="text-gray-300"><i class="fas fa-tag text-white" />{post.frontmatter.tag.join(', ')}</p>
                        </div>
                    </a>
                ))
            }
            
            <slot />
        </div>
        <aside class="w-96 text-white">
            <div class="card">
                <div class="flex gap-3 items-center justify-center pt-3 pb-6">
                    <img src="/logo-only-light.svg" class="h-10">
                    <img src="/text-only-light.svg" class="h-10">
                </div>
                <ul>
                    {
                        posts.filter(i => i.url !== '/blog').map(post => (
                            <li><a href={post.url} class="white text-gray-100 text-sm">{post.frontmatter.title}</a></li>
                        ))
                    }
                </ul>
            </div>
            <div>
                <h3>Categories</h3>
                {posts.flatMap(i => i.frontmatter.category).filter(i => i).map(i => (
                    <a href="#" class="white chip">{i}</a>
                ))}
            </div>
            <div>
                <h3>Tags</h3>
                {posts.flatMap(i => i.frontmatter.tag).filter(i => i).map(i => (
                    <a href="#" class="white chip">{i}</a>
                ))}
            </div>
        </aside>
    </article>
</Base>
